/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Corben&family=Mulish&family=Outfit:wght@300;400;600&family=Raleway:wght@300&display=swap');

#root {
  min-width: 800px;
  height: auto;
  padding: 4rem 0 4rem 0;
  background: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
}

p {
  font-family: Outfit;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.nft-template {
  width: 220px;
  height: auto;
  background: hsl(216, 50%, 16%);
  border-radius: 10px;
  transition: transform .2s;
  filter: drop-shadow(0 0 1em #0C1729);
  padding: 15px;
}

.img-hover-zoom {
  width: 220px;
  height: 220px;
  border-radius: 5px;
  overflow: hidden;
}

.img-hover-zoom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 220px;
  transform-origin: 50% 50%;
  transition: transform .5s ease;
}

.image:hover {
  transform: scale(1.5);
}

.profilePic {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
}